<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
    <li class="my-is-active"><a id="my-a-white" class="my-a-white" href="/private/profile">Fridge</a></li>
      <li><a class="my-a-white" href="/private/profile">Recipes</a></li>
      {{!-- <li><a class="my-a-white" href="/private/fridge">Fridge</a></li> --}}
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
    </ul>

    </div>
</div>
<h1>recipe detail</h1>

<div id="compare-container">
    <img src="{{recipe.image}}"
        alt="">

    <h1>{{recipe.title}} </h1>
    <p>you are missing {{recipe.missingIngredients}} ingredients</p>
    <ul>
        {{#each recipe.ingredients}}
        {{#if isMissing}}
        <li style="color: red;">{{name}}</li>

        {{else}}
        <li style="color: green;">{{name}}</li>
        {{/if}}
        {{/each}}
    </ul>

    <p>{{recipe.instructions}}</p>
</div>