<h1>recipe detail</h1>

<div>


    <img src="{{recipe.image}}"
        alt="">

    <h1>{{recipe.title}} </h1>

    <p>you are missing {{recipe.missingIngredients}} ingredients</p>



    <ul>
        {{#each recipe.ingredients}}
        {{#if isMissing}}
        <li style="color: red;">{{name}}</li>

        {{else}}
        <li style="color: green;">{{name}}</li>
        {{/if}}
        {{/each}}
    </ul>

    <p>{{recipe.instructions}}</p>


</div>
<ul>

    {{#each user.ingredients}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>