<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
      <li class="my-is-active"><a class="my-a-white"
          href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white" href="/private/fridge">Fridge</a></li>
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
    </ul>

  </div>
</div>
<h1>recipe detail</h1>
<div>
    {{#each recipe}}

    <img src="{{image}}"
        alt="">

    <h1>{{title}}</h1>

    <ul>
        {{#each this.ingredients}}
        {{#if isMissing}}
        <li style="color: red;">{{name}}</li>

        {{else}}

        <li style="color: green;">{{name}}</li>
        {{/if}}
        {{/each}}
    </ul>

    <p>{{this.instructions}}</p>


    {{/each}}
</div>
<ul>

    {{#each user.ingredients}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>