<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png" alt="">
        <span class="my-logout-link">WTF</span>
    </div>
    <ul>
      <li class="my-is-active"><a id="profile-active" href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white" href="/private/fridge">Fridge</a></li>
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
      <li>
        <div class="my-dropdown">
          <div class="menu-icon-div">
          <span id="profile-menu" style="color: white;" class="my-dropbtn fas fa-align-justify"></span>
          </div>
        <div class="dropdown-content">
          <a  href="/auth/logout">Logout</a>
        <a href="/private/edit-profile">View Account</a>
        <a class="my-a-white" href="/search/ingredients">Search</a>
        <a class="my-a-white" href="/private/fridge">Fridge</a>
        <a class="my-a-white" href="/private/profile">Recipes</a>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div>

{{! SUB HEADING OF PAGE }}

<div class="my-profile-image-container">
  {{!-- <a href='https://www.freepik.com/vectors/food'>Food vector created by macrovector - www.freepik.com</a> --}}
    {{!-- <img src="/images/k020-removebg-preview.png" alt=""> --}}
    <img src="/images/2011.i203.012_hobby cartoon.jpg" alt="">
   
</div>


<div class="recipe-container">
  
{{#each user.recipes}}
    <div class="recipe-card-container">
      <div class="missing-dropdown">
    <img src="{{this.image}}" alt="">
    <span class="missing-dropdown-content">Missing: {{this.missingIngredients}}</span>
    </div>
    <h2>{{this.title}}</h3>
    <div class="my-buttons-other">
          <a href="/private/fridge/remove/recipe/{{this._id}}">Remove</a>
          <a class="my-btn" href="/private/fridge/compare/recipe/{{this._id}}">compare</a> 
    </div>
    </div>
    {{/each}}
</div>


{{! FOOTER }}
<div class="bottom">
  <div class="content has-text-centered has-text-white">
    <p>
      <strong class="has-text-white">What The Fridge</strong>
      by
      <strong class="has-text-white">Alex Vasconcelos de Almeids</strong>
      and
      <strong class="has-text-white">Cooper Bjorkelund
      </strong>
      <br />
      With credit to
      <strong><a href="https://spoonacular.com/food-api">spoonacular API</a></strong>
    </p>
  </div>
</div>