<nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-active has-text-white" href="/private/profile">
        Profile
      </a>
      <a class="navbar-item has-text-white" href="/private/fridge">
        Fridge
      </a>
      <a class="navbar-item has-text-white" href="/search/ingredients">
        Search
      </a>
    </div>

  
     <div class="tags has-addons mr-3 p-2">    
    <span class="tag">Fridge: </span>
    <span class="tag is-primary">{{user.username}}</span>
    </div>
  </div>
</nav>

{{!-- <h1>Fridge: {{user.username}}</h1> --}}
{{!-- <div class="columns is-centered">
    <div class="column is-half is-offset-one-quarter">
<a class="button is-primary " href="/private/fridge">ADD TO FRIDGE</a>
<a class="button is-primary" href="/search/ingredients">search for recipe</a>
    </div>
</div> --}}

{{!-- is-3 is-offset-5 py-6 is-size-1 --}}

<div class="columns is-centered">
    <div class="column is-narrow is-size-1 has-text-white">
    <h1 id="saved-recipes-text">Saved Recipes</h1>
    </div>
</div>

{{!-- <ul>
    {{#each user.recipes}}
    <li>
        <h4>{{this.title}}</h4>
        <img src="{{this.image}}"
            width="50"
            height="50"
            alt="">
        <button>add</button> <button>Remove</button>
    </li>
    {{/each}}
</ul> --}}

<ul>
    <div class="columns is-multiline is-centered ">
    {{#each user.recipes}}
    <div class="column is-one-quarter mx-1">
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{this.image}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content has-background-black">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 has-text-white">{{this.title}}</p>
        {{!-- <span class="is-6"><a class="button" href="#">Delete</a></span> --}}
        <p class="subtitle is-6 has-text-white">@johnsmith</p>
      </div>
    </div>

  </div>
</div>
</div>
{{/each}}
</div>
</ul>





<a href="http://localhost:3000/auth/logout">GET OUT OF THE FRIDGE</a>