<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link my-a-white"
        href="/auth/logout">Logout</a>
    </div>
    <ul>
      <li class="my-is-active"><a id="my-a-white" class="my-orange" href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white" href="/private/fridge">Fridge</a></li>
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
      <li>
        <div class="my-dropdown">
          <div class="menu-icon-div">
          <span id="profile-menu" style="color: white;" class="my-dropbtn fas fa-align-justify"></span>
          </div>
        <div class="dropdown-content">
          <a  href="/auth/logout">Logout</a>
        <a href="/private/edit">View Account</a>
        </div>
      </div>
      </li>
    </ul>

  </div>
</div>

{{! SUB HEADING OF PAGE }}

<div class="my-profile-image-container">
    <img src="/images/k020-removebg-preview.png" alt="">
</div>


{{!-- <div class="columns is-centered mt-2">
  <div class="column is-narrow is-size-3">
    <span class="icon">
      <i class="fas fa-utensils"></i>
    </span>
  </div>
</div> --}}

{{! DISPLAY ALL SAVED RECIPES }}
{{!-- <ul id="my-recipe-view" class="recipe-view">
  <div class="columns is-multiline is-centered">
    {{#each user.recipes}}
    <div id="card-container" class="column is-one-quarter mx-5">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{this.image}}"
              alt="Placeholder image" />
          </figure>
        </div>
        <div id="my-card-content" class="card-content">
            <div class="content">
            <div class="my-title">
            <p id="my-recipe-title" class="title">{{this.title}}</p>
          </div>
          </div>
        </div>
            <footer id="my-footer" class="card-footer">
                <a  id="my-remove-btn" href="/private/fridge/remove/recipe/{{this._id}}" class="card-footer-item">Remove</a>
                 <a  id="my-compare-btn"  href="/private/fridge/compare/recipe/{{this._id}}" class="card-footer-item">Compare</a>
                 <a  id="my-missing-btn" href="#" class="card-footer-item">M:{{this.missingIngredients}}</a>
             </footer>
            <div class="my-buttons-other">
          <button><a href="/private/fridge/remove/recipe/{{this._id}}">Remove</a></button>
          <button class="my-btn"><a href="/private/fridge/compare/recipe/{{this._id}}">compare</a></button>
          </div>
          <div id="my-missing-ingredients" class="tags has-addons">
            <span class="tag is-warning">Missing</span>
             <span class="tag is-danger">{{this.missingIngredients}}</span>
        </div>  
          <div >
          <p><strong>Missing</strong> <span style="color: red">{{this.missingIngredients}}</span></p>
          </div> 
        </div>
      </div>
    {{/each}}
  </div>
</ul> --}}

<div class="recipe-container">
  
{{#each user.recipes}}
    <div class="recipe-card-container">
      <div class="missing-dropdown">
    <img src="{{this.image}}" alt="">
    <span class="missing-dropdown-content">M:{{this.missingIngredients}}</span>
    </div>
    <h2>{{this.title}}</h3>
    <div class="my-buttons-other">
          <button><a href="/private/fridge/remove/recipe/{{this._id}}">Remove</a></button>
          <button class="my-btn"><a href="/private/fridge/compare/recipe/{{this._id}}">compare</a></button>   
    </div>
    </div>
    {{/each}}
</div>


{{! FOOTER }}
<div class="bottom">
  <div class="content has-text-centered has-text-white">
    <p>
      <strong class="has-text-white">What The Fridge</strong>
      by
      <strong class="has-text-white">Alex Vasconcelos de Almeids</strong>
      and
      <strong class="has-text-white">Cooper Bjorkelund
      </strong>
      <br />
      With credit to
      <strong><a href="https://spoonacular.com/food-api">spoonacular API</a></strong>
    </p>
  </div>
</div>